body {
    background-color: rgba(180,176,181,0.4);
}

nav {
    margin-bottom: 1.2em;
}

.card-panel, .newItemField {
    padding: .4375em;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.chk_label {
    margin-top: .2em;
}
