<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo Web App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="lib/css/angular-material.min.css" rel="stylesheet">
    <link href="todo_style.css" rel="stylesheet">
</head>
<body ng-controller="TodoListCtrl as todoctrl">
<div class="">
    <md-toolbar class="titleBar" layout-align="center center">
        <div><h2>Todo - Angular Material</h2></div>
    </md-toolbar>
</div>

<div layout="row" layout-align="space-around">
    <md-content layout="column" flex-xs="90" flex-sm="80" flex-gt-sm="75" class="row_box">
        <!-- REPEAT CARD -->
        <md-card class="padded" md-whiteframe="{{height}}"  ng-init="height = 3" ng-mouseenter="height = 7" ng-mouseleave="height = 3"  ng-repeat="todo in todos" class="todoBox" layout="column" layout-align="center">
            <div class="md-card-content todoContainer" layout="row" layout-align="space-between center">
                <md-checkbox class="checkbx" ng-model="todo.done" aria-label="Checkbox 1">{{todo.text}}</md-checkbox>
                <div flex="none">
                    <md-button class="md-primary">
                        <md-icon style="color: green;">done</md-icon>
                    </md-button>
                    <md-button>
                        <md-icon style="color: red;">clear</md-icon>
                    </md-button>
                </div>
            </div>
        </md-card>

    </md-content>
</div>

<md-grid-list md-cols="4" md-row-height="15px">
    <md-grid-tile>This is a butt</md-grid-tile>
    <md-grid-tile>This is a butt</md-grid-tile>
    <md-grid-tile>This is a butt</md-grid-tile>
    <md-grid-tile>This is a butt</md-grid-tile>
    <md-grid-tile>This is a butt</md-grid-tile>
</md-grid-list>
<script src="lib/js/angular.min.js"></script>
<script src="lib/js/angular-animate.min.js"></script>
<script src="lib/js/angular-aria.min.js"></script>
<script src="lib/js/angular-material.min.js"></script>
<script src="todo.js"></script>
</body>
</html>