body {
    background-color: darkcyan;
}

.row_box {
    background-color: darkcyan;
}

.titleBar {
    height: 80px;
    background-color: #444444;
}

.dividLeft {
    background-color: #fafafa;
}

md-checkbox {
    margin-bottom: 0px;
}

.todoBox {
    height: 60px;
}

.md-card-content {
    padding: 0px 0px 0px 0px;
}

.todoContainer {
    padding: 0px 15px 0px 15px;
}
.md-button {
    min-width: 35px;
}
